@charset "utf-8";
/*----------------------------- 
Name: global css
Design:Mc.ma
Time: 2011-12
-----------------------------*/
/*html,body,p,th,td,input,select,textarea,button,div {padding:0; margin:0;font-family: "microsoft yahei",Tahoma, sans-serif ; font-size:12px; line-height:180%;}
html,body{background:#F6F6F6;}
body {_text-align:center;}*/
dl,ol,dt,dd,ul,li,form,h1,h2,h3,h4,h5,h6 {margin:0; padding:0;list-style:none; }
input,select,textarea,button{vertical-align:middle;resize:none;}
.clear{clear:both;overflow:hidden; height:1px;}
/*.clearfix{overflow:hidden; height:1%;}
.hide {display:none;}
.fl {float:left;}
.fr {float:right;}
img{border:0; vertical-align:middle}
body,a,a:visited{font-size:12px;color:#000;text-decoration:none;}
a:hover{ text-decoration:underline;color:#333}*/

/*form label styles*/
.input{height:20px; line-height:20px; border:1px solid #d6d6d6;background:url(../img/bg-input.png) left top repeat-x #FFF; padding-left:3px;}
.button-l{height:22px; line-height:22px; width:62px;background:url(../img/btn-little.png) left 0 #FFF no-repeat; border:none; cursor:pointer}
.button-l-hover{ background-position: left -22px;}
.button-l-down{background-position: left -44px;}
.button124-24{ width:124px; height:26px; line-height:26px;background:url(../img/btn_mc_124_26.png) left 0 no-repeat;padding-left:3px; border:none; cursor:pointer}
.textarea{ border:1px solid #D6D6D6; padding:3px; overflow-y:hidden;background:url(../img/bg-textarea.png) left top repeat-x #FFF}
/*some public style*/
.invis{ display:none}
.cur{ cursor:pointer}
.tl{ text-align:left}
.center{ text-align:center}
table td.f3222C5{color:#3222C5}
.iGrays{color:#CCC}
.iNormal{color:#CCC}